/* Frontend mentor styles */
.attribution { font-size: 11px; margin-top: 50px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root {

--paleBlue: hsl(225, 100%, 94%);
--brightBlue: hsl(245, 75%, 52%);
--verypaleBlue: hsl(228, 79%, 96%);
--desaturatedBlue: hsl(224, 23%, 55%);
--darkBlue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-mobile.svg);
}

.container {
    display: flex;
    justify-content: center;
}

.card-container {
    margin-top: 60px;
    width: 75%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.img-music img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body .title, .card-body .description {
    text-align: center;
}

.card-body .title {
    font-weight: 900;
    font-size: 0.7rem;
    margin: 20px 0;
}

.card-body .description {
    width: 75%;
    margin: 0 auto 20px;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--desaturatedBlue);
}

.card-body .subscription-plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--verypaleBlue);
}

.card-body .subscription-plan .sub-description h5:nth-child(2) {
    margin-top: 5px;
    color: var(--desaturatedBlue);
}

.pay-buttons {
    padding: 20px 0;
}

.pay-buttons button {
    display: block;
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.pay-buttons button:nth-child(1) {
    background-color: var(--brightBlue);
    color: var(--paleBlue);
}

.pay-buttons button:nth-child(1):hover {
    background-color: hsl(245, 81%, 60%);
}

.pay-buttons button:nth-child(2) {
    color: var(--desaturatedBlue);
}

.pay-buttons button:nth-child(2):hover {
    background-color: var(--paleBlue);
}

/* desktop */
@media (min-width: 720px) {
    .card-container {
        width: 50%;
    }

    .card-body .title {
        font-size: 1rem;
    }

    .card-body .description {
        width: 60%;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .pay-buttons button {
        width: 70%;
    }
}